<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bitcliq.BIR.Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
<appSettings>
  <!-- PATHS -->
  <add key="BackofficePath" value="C:\BYCATCH_ID\"/>
  <add key="BackofficeTemplatesPath" value="C:\BYCATCH_ID\Templates\"/>
  <add key="BackofficeTempPath" value="C:\BYCATCH_ID\_Temp\"/>
  <add key="WebserviceTempPath" value="C:\BYCATCH_ID\_Temp\"/>
  <add key="LogConfigFilePath" value="C:\BYCATCH_ID\Configs\Log4Net.config"/>
  <add key="LoginUrl" value="http://desk.bycatchid.bitcliq.com/LoginForm.aspx"/>
  
  <!-- END PATHS -->
  
  <!-- URLS -->
  <add key="BackofficeUrl" value="http://desk.bycatchid.bitcliq.com/"/>
  <add key="BackofficeTempUrl" value="http://desk.bycatchid.bitcliq.com/_Temp/"/>
  <!-- END URLS -->

  <!-- MAIL -->
  <add key="MailFrom" value="noreply@bitcliq.com"/>
  <add key="MailServer" value="mail.bitcliq.com"/>
  <add key="MailServerPassword" value="bitcliq-17"/>
  <add key="MailSubject" value="ByCatch ID"/>
  

  <add key="InviteSubject" value="Activate user in ByCatch ID Desk"/>
  <add key="AccountID" value="2"/>
  
    <add key="EntityName" value="ByCatch ID"/>
	
  <add key="NewIssueSubject" value="ByCatch ID Desk - New Fish Species identification required" />
  <add key="UpdateIssueSubject" value="ByCatch ID Desk - Update Fish Species identification required" />
  <add key="AssignIssueSubject" value="ByCatch ID Desk - Assign Fish Species identification required" />
  <add key="CloseIssueSubject" value="ByCatch ID Desk - Close Fish Species identification required" />
  <add key="AssignNewIssueSubject" value="ByCatch ID Desk - Assign Fish Species identification required" />
  
  <add key="AdminProfileID" value="1"/>
    
  <add key="StateResolvedID" value="4"/>
  <add key="StateNewID" value="1"/>
  
     <add key="ImageExtensionsSupported" value="gif;jpg;jpeg;pjpeg;png"/>
   <add key="MultimediaMimeTypes" value="image/jpeg=jpg|image/pjpeg=jpg|image/x-png=png"/>


 <add key="Img_PreferredWidth" value="230"/>
    <add key="Img_PreferredHeight" value="180"/>
	
	<add key="Radius" value="100" />
	
	 <add key="SendEmailToExecutors" value="false"/>
  <add key="OnlyAdminCanSee" value="true"/>
	
  <!-- END MAIL -->
  
  
  <add key="GoogleMapsUrl" value="http://maps.googleapis.com/maps/api/staticmap?zoom=17&amp;size=400x400&amp;markers="/>
</appSettings>
<connectionStrings>
   <add name="ConnStr" connectionString="Data Source=xxx;Initial Catalog=ByCatch_ID;User ID=xxxx; Password=xxx; Trusted_Connection=False" providerName="System.Data.SqlClient"/>
</connectionStrings>
    <applicationSettings>
        <Bitcliq.BIR.Portal.Properties.Settings>
            <setting name="Bitcliq_BIR_Portal_IssuesWS_IssuesWebService"
                serializeAs="String">
                <value>http://desk.bycatch.bitcliq.com/IssuesWebService.asmx</value>
            </setting>
        </Bitcliq.BIR.Portal.Properties.Settings>
    </applicationSettings>
	
	 <system.web>
       <httpRuntime maxRequestLength="51200" requestLengthDiskThreshold="51200" />
		
		<customErrors mode="Off">
          
        </customErrors>
  </system.web>
  <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration>
