<script>
 $('.bbbb').click(function(){
        bootbox.dialog({
            message: '<img src="images/bootstrap_logo.png" width="100px"/><br/> You can also use <b>html</b>',
            title: "Custom title",
            buttons: {
                main: {
                    label: "Click ME!",
                    className: "btn-primary",
                    callback: function() {
                        alert("Primary button");
                    }
                }
            }
        });
 });

    </script> 