<style type="text/css">
body, p, td, div{font:normal 11px Geneva, Arial, Helvetica, sans-serif; color:#000000;}
a:link, a:visited, a:active, a:hover{color:#3366CC;}
</style>
<table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="white" align="center">
    <tr>
        <td style="padding: 10px;">
          

            <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                <tr>
                    <td colspan="2" bgcolor="#CCCCCC" style="padding: 5px;">
                        <strong>
                            Caro(a) <!--@User-->, a ocorrência abaixo foi registada como resolvida
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table cellpadding="6" width="100%">
                           <tr>
                                    <td>
                                    <br />
                                    Closen by : <!--@ClosedBy-->
                                    <br />
                                </td>
                                 </tr> 
                            <tr>
                             <tr>
                                    <td>
                                    <br />
                                    Reported by: <!--@Reporter-->
                                    <br />
                                </td>
                                 </tr> 
                            <tr>
                                    <td>
                                    <br />
                                    Type: <!--@Type-->
                                    <br />
                                </td>
                                 </tr>
                             <tr>
                                    <td>
                                    <br />
                                    Subject: <!--@Subject-->
                                    <br />
                                </td>
                                 </tr>
                            <tr>
                                
                            
                            <tr>
                                <td>
                                    <br />
                                    Message: <!--@Message-->
                                    <br />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <br />
                                        Clique <a href="<!--@Url-->">aqui</a> para aceder ao backoffice
                                    <br />
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <div style="text-align: justify; border-top: 1px solid #E1E1E1;">
                <span style="color: #CCCCCC;">A presente mensagem e eventuais ficheiros anexos podem
                    conter informa&ccedil;&otilde;es confidenciais que devem exclusivamente ser acedidas
                    pelas institui&ccedil;&otilde;es ou indiv&iacute;duos a quem se dirigem. No caso
                    desta mensagem ser recebida com erro ou por destinat&aacute;rios indevidos, solicita-se
                    a sua destrui&ccedil;&atilde;o. Esta mensagem &eacute; enviada pelo sistema inform&aacute;tico
                    e utiliza um endere&ccedil;o de email geral para o qual n&atilde;o deve responder.
                    Para qualquer assunto por favor aceda &agrave; nossa plataforma na internet.</span>
            </div>
        </td>
    </tr>
</table>
