<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

</body>
</html>
<li class="dd-item dd3-item bootstro" data-id="<!--@ID-->" id="bootstrodemo<!--@ID-->" data-bootstro-width='600px'  data-bootstro-placement="top" data-bootstro-step="0"  data-bootstro-content="<!--@History-->" data-bootstro-title="Estados" data-original-title="" title="">
    <div class="dd-handle dd3-handle<!--@Priority-->"></div>
    <div class="row">
                <div class="col-xs-12 col-md-1 col-sm-6 col-lg-1">
                    <!--@State-->
                </div>

                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                   <a href="#notop" data-toggle="modal"  onclick="openModal(<!--@ID-->);"><!--@Subject--> <!--@Type--> </a>
                </div>

                <div class="col-xs-12 col-md5 col-sm-6 col-lg-5">
                   // Reportado por: <!--@Reporter--> no dia  <!--@DateReported--> às  <!--@HoursReported-->
                </div>

                <div class="col-xs-12 col-md-1 col-sm-6 col-lg-1">
                     <span style="text-align:right; width:100%">&nbsp;&nbsp;&nbsp;
            <a class="boot"  href="#notop" title="Histórico" id="demo<!--@ID-->"><i class="fa fa-eye" style="font-size:16px;"></i>&nbsp;Ver Histórico</a>
            </span>  
                </div>

                <div class="col-xs-12 col-md-1 col-sm-6 col-lg-1">
                   <span style="text-align:right; width:100%">&nbsp;&nbsp;&nbsp;
                <a  href="#notop" title="Ver no mapa" id="A1" onclick="showInMap(<!--@ID-->);" ><i class="fa fa-map-marker" style="font-size:16px;"></i>&nbsp;Ver no mapa</a>
            </span>   
                </div>

             
</div>


    
</li>