<li class="dd-item dd3-item bootstro" data-id="<!--@ID-->" id="bootstrodemo<!--@ID-->" data-bootstro-width='600px'  data-bootstro-placement="top" data-bootstro-step="0"  data-bootstro-content="<!--@History-->" data-bootstro-title="Estados" data-original-title="" title="">
    <div class="dd-handle dd3-handle<!--@Priority-->"></div>
    <div class="dd3-content" id="ddcontent<!--@ID-->">
        <a href="#notop" data-toggle="modal"  onclick="openModal(<!--@ID-->, <!--@I-->);"><!--@Subject--> <!--@Type--> </a>// Reported by: <a href="#notop" onclick="    openModalReporter(<!--@IDReporter-->, <!--@IsReporter-->);"><!--@Reporter--></a> on day  <!--@DateReported--> at  <!--@HoursReported-->
            <span style="text-align:right; width:100%">&nbsp;&nbsp;&nbsp;
            <a class="boot"  href="#notop" title="Histórico" id="demo<!--@ID-->"><i class="fa fa-eye" style="font-size:16px;"></i>&nbsp;Show History</a>
            </span>    
                 <span style="text-align:right; width:100%">&nbsp;&nbsp;&nbsp;
                <a  href="#notop" title="Ver no mapa" id="seeMap" onclick="showInMap(<!--@ID-->);" ><i class="fa fa-map-marker" style="font-size:16px;"></i>&nbsp;See in map</a>
            </span>    
             
    </div>

</li>
