<style type="text/css">
body, p, td, div{font:normal 11px Geneva, Arial, Helvetica, sans-serif; color:#000000;}
a:link, a:visited, a:active, a:hover{color:#3366CC;}
</style>
<table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="white" align="center">
    <tr>
        <td style="padding: 10px;">
          

            <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                <tr>
                    <td colspan="2" bgcolor="#CCCCCC" style="padding: 5px;">
                        <strong>
                            Dear <!--@User-->, a new Fish Specie question has been reported
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table cellpadding="6" width="100%">
                           
                             <tr>
                                    <td>
                                    <br />
                                    Reported by: <!--@Reporter-->
                                    <br />
                                </td>
                                 </tr> 
                           
						   
                             <tr>
                                    <td>
                                    <br />
                                    Subject: <!--@Subject-->
                                    <br />
                                </td>
                                 </tr>
                            <tr>
                                
                            
                            <tr>
                                <td>
                                    <br />
                                    Message: <!--@Message-->
                                    <br />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <br />
                                        Click <a href="<!--@Url-->">here</a> to access BycatchID Desk
                                    <br />
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
         
        </td>
    </tr>
</table>
