<script>
    var handlerUrl = 'ResportersHandler.ashx';
    var editor;
    $(function () {
        // edit inline
        editor = new $.fn.dataTable.Editor({
            "ajaxUrl": handlerUrl,
            "domTable": "#editable",

            "fields": [
                 {
                     "label": "Nome:",
                     "name": "Name"
                 },
                 {
                     "label": "Email:",
                     "name": "Email"
                 },
                 {
                     "label": "Perfil",
                     "name": "ProfileID",
                     type: "select", // Using the custom field type
                     "ipOpts": [{ "label": "Decisor", "value": "1" },
                    { "label": "Executor", "value": "2" }]

                 }
            ]

        });
        var tableInstance = $('#editable').dataTable({

            "sDom": "C<'row'<'col-sm-6'T><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>> ",
            "sAjaxSource": handlerUrl,
            "bServerSide": true,
            "bAutoWidth": false,
            "bDestroy": true,
            "iDisplayLength": 50,
            "bProcessing": true,
            "aaSorting": [[0, "desc"]],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte"
                }
            },
            "aoColumnDefs": [
                    { "sName": "ID", "sClass": "noteditable", "aTargets": [0] },
                    { "sName": "Name", "sClass": "required", "aTargets": [1] }

            ],
            "aoColumns": [
                    { "mData": "ID" },
                   { "mData": "Name" },
                   { "mData": "Email" },
                   { "mData": "ProfileName" }
                   ,
                       {
                           "mData": "Active", "mRender": function (data, type, row) {

                               if (data == "True")
                                   return 'Ativo';
                               else
                                   return 'Inativo';
                           }
                       },
                       { "mData": "Check", "mRender": function (data, type, row) { return '<ul class="pager"><li><a  onclick="setBoot(\'Issues.aspx?user=' + data + '\');" href="#">Áreas e Categorias' + '</a></li></a>'; } }




            ],
            "oTableTools": {
                "sRowSelect": "single",
                "aButtons": [
                    { "sExtends": "editor_create", "editor": editor },
                     { "sExtends": "editor_edit", "editor": editor },




                    { "sExtends": "editor_remove", "editor": editor },
                        //{ "sExtends": "copy", "sButtonText":"Ativar/Desativar", "editor": editor }
                        {
                            "sExtends": "ajax",
                            "sAjaxUrl": "UsersHandler.ashx",
                            "sButtonText": "Ativar/Desativar",
                            "fnClick": function (nButton, oConfig, oFlash) {

                                var b = this.fnGetSelected();

                                if (b != '') {
                                    $.ajax({
                                        type: "POST",
                                        "url": oConfig.sAjaxUrl + "?action=changeStatus&id=" + b[0].id,

                                        //"success": tableInstance.fnReloadAjax( handlerUrl ),

                                        "success": function (result) {

                                            if (result.data == "OK")
                                                tableInstance.fnReloadAjax(handlerUrl);
                                            else
                                                alert(result.data);
                                        },

                                        "dataType": "json",
                                        "type": "POST",
                                        "cache": false,

                                        "error": function (result) {

                                            //alert( "Error detected when sending table data to server" );
                                            alert("Ocorreu um erro! Tente mais tarde.");
                                        }
                                    });
                                }

                            }
                        }


                ]
            }

        });



        $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Pesquisar...');
        $('.dataTables_length select').addClass('form-control');
        $("#ToolTables_editable_0").prepend('<i class="fa fa-plus"/> ');
        $("#ToolTables_editable_1").prepend('<i class="fa fa-pencil-square-o"></i> ');
        $("#ToolTables_editable_2").prepend('<i class="fa fa-times-circle"/> ');

    });




    var calcDataTableHeight = function () {
        return $(window).height() * 40 / 100;
    };

    $(window).resize(function () {
        var oSettings = oTable.fnSettings();
        oSettings.oScroll.sY = calcDataTableHeight();
        oTable.fnDraw();
    });



    $(".dataTables_scroll").niceScroll({ horizrailenabled: false });


    jQuery.fn.dataTableExt.oApi.fnReloadAjax = function (oSettings, sNewSource, fnCallback, bStandingRedraw) {

        // DataTables 1.10 compatibility - if 1.10 then `versionCheck` exists.
        // 1.10's API has ajax reloading built in, so we use those abilities
        // directly.
        if (jQuery.fn.dataTable.versionCheck) {
            var api = new jQuery.fn.dataTable.Api(oSettings);

            if (sNewSource) {
                api.ajax.url(sNewSource).load(fnCallback, !bStandingRedraw);
            }
            else {
                api.ajax.reload(fnCallback, !bStandingRedraw);
            }
            return;
        }

        if (sNewSource !== undefined && sNewSource !== null) {
            oSettings.sAjaxSource = sNewSource;
        }

        // Server-side processing should just call fnDraw
        if (oSettings.oFeatures.bServerSide) {
            this.fnDraw();
            return;
        }

        this.oApi._fnProcessingDisplay(oSettings, true);
        var that = this;
        var iStart = oSettings._iDisplayStart;
        var aData = [];

        this.oApi._fnServerParams(oSettings, aData);

        oSettings.fnServerData.call(oSettings.oInstance, oSettings.sAjaxSource, aData, function (json) {
            /* Clear the old information from the table */
            that.oApi._fnClearTable(oSettings);

            /* Got the data - add it to the table */
            var aData = (oSettings.sAjaxDataProp !== "") ?
                that.oApi._fnGetObjectDataFn(oSettings.sAjaxDataProp)(json) : json;

            for (var i = 0 ; i < aData.length ; i++) {
                that.oApi._fnAddData(oSettings, aData[i]);
            }

            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();

            that.fnDraw();

            if (bStandingRedraw === true) {
                oSettings._iDisplayStart = iStart;
                that.oApi._fnCalculateEnd(oSettings);
                that.fnDraw(false);
            }

            that.oApi._fnProcessingDisplay(oSettings, false);

            /* Callback user function - for event handlers etc */
            if (typeof fnCallback == 'function' && fnCallback !== null) {
                fnCallback(oSettings);
            }
        }, oSettings);
    };


    </script>