<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <logger name="ApplicationLog">
    <appender-ref ref="AdoNetAppender" />
  </logger>

  <logger name="UserLog">
    <appender-ref ref="AdoNetAppender" />
  </logger>

  <logger name="ErrorLog">
    <appender-ref ref="ErrorAppender" />
  </logger>

  <logger name="CriticalErrorLog">
    <appender-ref ref="CriticalErrorLog" />
  </logger>

  <logger name="LoginLog">
    <appender-ref ref="LoginAppender" />
  </logger>


  <root>
    <level value="DEBUG" />
    <!--appender-ref ref="ConsoleAppender1" /-->
    <!--appender-ref ref="AdoNetAppender" /-->
    <!-- appender-ref ref="EventLogAppender" / -->
    <!--appender-ref ref="FileAppender" /-->
    <!--appender-ref ref="RemotingAppender" /-->

  </root>




  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\\Bitcliq.BIR\Bitcliq.BIR.Portal\LOGFILES\ASP_Error.log" />
    <appendToFile value="true" />
    <maximumFileSize value="2048KB" />
    <maxSizeRollBackups value="20" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level %thread %logger %date - %message%newline" />
    </layout>
  </appender>

  <appender name="CriticalErrorAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="C:\\Bitcliq.BIR\Bitcliq.BIR.Portal\LOGFILES\ASP_CriticalError.log" />
    <appendToFile value="true" />
    <maximumFileSize value="2048KB" />
    <maxSizeRollBackups value="20" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level %thread %logger %date - %message%newline" />
    </layout>
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=xxx;Initial Catalog=BYCATCH_ID; User ID=xxx; Password=xxx; Trusted_Connection=False" />
    <commandText value="INSERT INTO ActivityLog ([Date],[Level],[UserName],[UserID],[Action]) VALUES (@log_date, @log_level, @UserName, @UserID, @action)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserName" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{userName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{userID}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@action" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
    <sink value="tcp://localhost:8085/xxx" />
    <lossy value="false" />
    <bufferSize value="1" />
    <onlyFixPartialEventData value="true" />
  </appender>




</log4net>
